@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*  */

:root {
  --fs-xsm: 16px;
  --fs-sm: 20px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-2lg: 44px;
  --fs-xl: 48px;
  --fs-xxl: 128px;
  /* line height */
  --lh-sm: 20px;
  --lh-md: 25.6px;
  --lh-2md: 27px;
  --lh-lg: 31px;
  --lh-xl: 52.2px;
  --lh-xxl: 60px;
  /* color */
  --col-white: #FFFFFF;
  --col-gray: #CECED2;
  --col-high-gray: #E8E2FC;
  --col-low-gray: #E2DEFE;
  --col-low-black: #020416;
  --col-light-yellow: #E4A321;
  --col-light-purple: #6E5DF6;
  --col-dark-purple: #232851;
  --col-section-bg: linear-gradient(180deg, #9B77E8 0%, #6854FF 100%);
  --col-oragne-light-gradiant: linear-gradient(140.02deg, #F6914F 15.24%, #F97549 92.51%);
  --col-sky-light-gradiant: linear-gradient(146.23deg, #6BCDEE 14.63%, #1CC0CB 86.96%);
  --col-eliiple-gradiant: linear-gradient(180deg, rgba(155, 119, 232, 0.5) 0%, rgba(104, 84, 255, 0.5) 100%);
  ;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.fs-xsm {
  font-size: var(--fs-xsm);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-2lg {
  font-size: var(--fs-2lg);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

.lh_sm {
  line-height: var(--lh-sm);
}

.lh_md {
  line-height: var(--lh-md);
}

.lh_2md {
  line-height: var(--lh-2md);
}

.lh_lg {
  line-height: var(--lh-lg);
}

.lh_xl {
  line-height: var(--lh-xl);
}

.lh_xxl {
  line-height: var(--lh-xxl);
}

.col-white {
  color: var(--col-white);
}

.col-gray {
  color: var(--col-gray);
}

.col-low-gray {
  color: var(--col-low-gray);
}

.col-high-gray {
  color: var(--col-high-gray);
}

.col-low-black {
  color: var(--col-low-black);
}

.col-light-yellow {
  color: var(--col-light-yellow);
}

.col-light-purple {
  color: var(--col-light-purple);
}

.main-color-body {
  background: #020416;
}

.pt-33 {
  padding-top: 33px;
}

.pt-14 {
  padding-top: 14px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-91 {
  margin-top: 91px;
}

.max-w-240 {
  max-width: 240px;
}

.max-w-891 {
  max-width: 891px;
}

.max-dimension-rocket {
  max-width: 461px;
  max-height: 461px;
}

.company-img-dimension {
  max-height: 302px;
  max-width: 521px;
}

.button-style {
  padding: 16px 33px;
  background-color: transparent;
  border: 1px solid var(--col-light-purple);
  border-radius: 75px;
  letter-spacing: 0.45em;
}

.set-leftoncircel {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.set-rightoncircel {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.card-Aicompany {
  max-width: 542px;
  padding: 14px 10px 30px 10px;
  border-radius: 25px;
  min-height: 637px;
  background: linear-gradient(112.83deg, #0A0C1C 0%, #080919 110.84%);
}

.elleipes-gradiant {
  background: var(--col-eliiple-gradiant);
  max-width: 232px;
  max-height: 143px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0%;
  right: 50%;
  transform: translateX(50%);
  filter: blur(75px);
}

.card-Aicompany img {
  border-radius: 18px;
  border: .73px solid var(--col-dark-purple);
}

.setpurplerighticon {
  position: absolute;
  right: 1%;
  z-index: -1;
  top: 33.8%;
}

.imageradaintellipes {
  width: 146px;
  height: 146px;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--col-eliiple-gradiant);
  filter: blur(100px);
}

.setpurplelefticon {
  position: absolute;
  left: 0.5%;
  z-index: -1;
  top: 52%;
}

.bg-stockworker {
  background: var(--col-section-bg);
}

.white-step-card {
  background-color: var(--col-white);
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 999px;
  box-shadow: 0px 10px 6px 0px #CF9114;
}

.oragne-boxshadow {
  box-shadow: 0px 10px 6px 0px #EF4F19;
}

.sky-boxshadow {
  box-shadow: 0px 10px 6px 0px #16858C;
}

.upperlayer {
  padding: 16px;
  border-radius: 999px;
  background-color: var(--col-light-yellow);
}

.upperlayerorange {
  padding: 16px;
  border-radius: 999px;
  background: var(--col-oragne-light-gradiant);
}

.setlineleft {
  left: 0;
  bottom: 8%;
}

.setlineright {
  right: 0;
  top: 0;
}

.setbubble {
  height: 165px;
  right: 0%;
  top: 30%;
}

.upperlayersky {
  padding: 16px;
  border-radius: 999px;
  background: var(--col-sky-light-gradiant);
}

.layer-white {
  padding: 16px;
  border-radius: 999px;
  background: var(--col-white);
}

.gap-20 {
  gap: 20px;
}

.max-w-260 {
  max-width: 260px;
}

.gradiant-line-layer {
  max-width: max-content;
  padding: 3px;
  border-radius: 999px;
  background: linear-gradient(160.34deg, #E2A11A 13.16%, #D82108 95.03%);
}

.gradiant-line-sky-layer {
  max-width: max-content;
  padding: 3px;
  border-radius: 999px;
  background: var(--col-sky-light-gradiant);
}

@media (min-width:768px) {
  .mt-md-144 {
    margin-top: 144px;
  }


  .mt-md-72 {
    margin-top: 72px;
  }

  .white-step-card {
    width: 125px;
    height: 125px;
  }

  .upperlayersky {
    padding: 16px;
    border-radius: 999px;
    background: var(--col-sky-light-gradiant);
  }

  .upperlayer {
    padding: 28px;
  }

  .upperlayerorange {
    padding: 28px;
  }

  .upperlayersky {
    padding: 28px;
  }

}

@media (min-width:992px) {
  .white-step-card {
    width: 152px;
    height: 152px;
  }

  .mt-lg-100 {
    margin-top: 100px;
  }

  .gap-lg-66 {
    gap: 66px;
  }
}

@media (min-width:1400px) or (max-width:1600px) {
  .container {
    max-width: 1164px !important;
  }
}